<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="sas_extensions" sortOrder="999" translate="label">
			<label>sas_extensions</label>
		</tab>
		<section id="sas_customerpaymentmethod" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>sas_customerpaymentmethod</label>
			<tab>sas_extensions</tab>
			<resource>StoneandStorm_CustomerPaymentMethod::config_stoneandstorm_customerpaymentmethod</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>general</label>
				<field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>enabled</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
